/* main.index.html (header)*/
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

.bg-no-overlay {
  background: url("../static/images/istockphoto-1165916723-612x612.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  height: 450px;
  padding-top: 50px;
}