{% extends 'base.html'%}
{% import 'macros.html' as macro %}

{% block content %}
<style>
body{
  background: linear-gradient(45deg, rgb(47, 255, 255), rgb(14, 93, 173)); 
  padding-left: 5px;
}

h4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#jobs{
  float: right;
}
#music{
  float:left
}
</style>
<br><br>
  <div  class="container">
    <div class="row">
      <div class="col-lg-6">
        <span class="glyphicon glyphicon-off"></span>
        <h4><mark>Job Pitches</mark></h4>
        <br>
        <div>{{ macro.display(job)}}</div>
      </div>
      <br>
      <div class="col-lg-6">
        <span class="glyphicon glyphicon-heart"></span>
        <h4><mark>Music Pitches</mark></h4>
        <br>
        <div>{{ macro.display(music)}}</div>
      </div>
      </div>
  </div>
 </div>
 


{% endblock %}