{% extends 'base.html' %}

{% block content %}
<!-- css styles -->
<style>
    .bg-no-overlay {
  background: url("../static/images/u.images/istockphoto-1165916723-612x612.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  height: 450px;
  padding-top: 50px;
}
</style>
<!-- css styles -->
<!-- main -->
<div class="container bg-no-overlay">
  <div class="row text-center">
  <h1>This is a background image<br> with NO overlay.</h1>
      <br><br>
      <button type="button" class="btn btn-primary btn-lg">Get Started</button>
</div>
</div>
<!-- categories -->
<div class="container-fluid text-center">
    <h2>Pitches</h2>
    <h4>What we offer</h4>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-off"></span>
        <h4>POWER</h4>
        <p>Lorem ipsum dolor sit amet..</p>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-heart"></span>
        <h4>LOVE</h4>
        <p>Lorem ipsum dolor sit amet..</p>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-lock"></span>
        <h4>JOB DONE</h4>
        <p>Lorem ipsum dolor sit amet..</p>
      </div>
      </div>
      <br><br>
    <div class="row">
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-leaf"></span>
        <h4>GREEN</h4>
        <p>Lorem ipsum dolor sit amet..</p>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-certificate"></span>
        <h4>CERTIFIED</h4>
        <p>Lorem ipsum dolor sit amet..</p>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-wrench"></span>
        <h4>HARD WORK</h4>
        <p>Lorem ipsum dolor sit amet..</p>
      </div>
    </div>
  </div>
{% endblock content%}