
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Pitch_view</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{url_for('main.index')}}">Home</a></li>
        <br>
        <li><a href="{{url_for('main.new_pitch')}}">New pitch</a></li>  
        </ul>
        <ul class="nav navbar-nav">
        <li><a href="{{url_for('main.all_pitches')}}">All pitches</a></li>
        <br>
        <li><a href="{{url_for('auth.register')}}"><span class="glyphicon glyphicon-user">Sign up</span></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{url_for('auth.logout')}}"><span class="glyphicon glyphicon-log-in">log out</span></a></li>
          <br> 
        
      </ul>
      <ul>
        <li><a href="{{url_for('main.account',uname = current_user.username)}}"><span class="glyphicon glyphicon-log-in">My account</span></a></li>
        <br>
        <li><a href="{{url_for('auth.login')}}"><span class="glyphicon glyphicon-log-in">log in</span></a></li>
      </ul>
   
    </div>
  </nav>